*, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
body{
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.hero-container{
     background-color: #1F2937;
     width: 100%;
      padding: 16px 200px 120px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.logo {
      font-size: 24px;
      font-weight: 700;
      color: #F9FAF8;
    }
.links {
    display: flex;
    gap: 24px;
    list-style: none;
}
.links a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 16px;
}
.hero-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.heroinfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    flex: 1;
    gap: 10px;
    width: 50%;
    
}
.heroinfo h1{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    width: 80%;
}
.heroinfo p {
      font-size: 18px;
      color: #E5E7EB;
      margin-bottom: 12px;
      line-height: 1.4;
      
    }

    .btn{
      background-color: #3882F6;
      color: #F9FAF8;
      border: none;
      padding: 8px 36px;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      width: fit-content;
    }
    .image-container{
    display: flex;
    justify-content: center;
    flex: 1;
    
}
.image-placeholder {
        width:80%;
      background-color: #6D747D;
      color: #F9FAF8;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 230px;
      font-size: 18px;
    }


    /* Section 2 information  */

    .info-section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 80px 200px;
    
    }
    .info-section h2{
        font-size: 36px;
        font-weight: 900;
        color: #1F2937;
    }
    .info-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        width:70%;
        margin-top: 40px;
        gap: 40px;
    }
    .info-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 120px;
    }
    .card-box{
        background: transparent;
        border: 3px solid #3882F6;
        border-radius: 10px;
        width:120px;
        height: 130px;
    }
    .info-card p{
       font-family: 'Roboto';
         font-size: 12px;
         text-align: center;
    }

    /* Section 3 */
    .quote-section{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 100%;
        background-color: #e5e7eb;
    }
    .quote-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .quote-text{
        color: #1f2937ab;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-family: 'Roboto';
        font-style: italic;

         width: 55%;
         font-size: 34px;
    }
    .quote-author{
        display: flex ;
        font-size: 34px;
        font-weight: 300;
        color: #1F2937;
        justify-content: flex-end;
        width: 55%;
        margin-top: 10px;
    }


    /* SECTION 4 FOR CALL TO ACTION */

    .cta-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 80px 200px;
    }
    .cta-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:100%;
        gap: 20px;
        background-color: #3882F6;
        border-radius: 10px;
        padding: 40px;
    }
    .cta-text h3{
        color: #f9faf8;
        font-size: 24px;
        font-weight: 900;
        font-family: 'Roboto';

    }
    .cta-text p{
        color: #e5e7ebc3;
        font-size: 16px;
        font-family: 'Roboto';
        font-style: italic;
    }
    .cta-button{
        background-color: transparent;
        color: #f9faf8;
        border: 2px solid #f9faf8;
        padding: 8px 36px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        width: fit-content;
    }

    /* Footer Section */
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1F2937;
        padding: 40px;
       
    }
    .footer p{
        padding: 20px;
         color: #F9FAF8;
        font-family: 'Roboto';
        font-size: 18px;
    
    }